# Data Manipulation & Science
numpy
pandas
scipy
statsmodels

# Machine Learning & NLP
scikit-learn

# Visualization
matplotlib
seaborn

# Web Application Framework
streamlit

# Jupyter Support (if running locally)
ipykernel